block{
    display: block;
    align-content:center;
    margin: 0px;
    background-color: #404040;
}
body {
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 1px;
    background: url("images/bgpattern.png"); 
}
@font-face{
    font-family: Rubik Mono One;
    src: url('RubikMonoOne-Regular.ttf');
}

/* header */


.textShadow{
    text-shadow: 2px 2px 3px black;
}

h1 {
    font-weight: 800;
    font-family: 'Rubik Mono One'; color: aqua;
text-align: center;
    font-size: 50px
}
 h3, h4, h5 {
     font-weight: normal;
    font-family: sans-serif; color: white;
    text-align: center;
}
p{
    font-weight: normal;
    font-family: 'Courier New'; color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
h2{
    font-weight: bolder;
    font-family: 'Courier New'; color: white;
    text-align: center;
    font-size: 30px;
}    
.magenta{
    background-color: magenta;
}
.magenta-text{
    color: magenta;
}
h3 {
    color: #fe00ff;
    font-weight: 600;
    font-size: 20px
}
    p {font-family: Merriweather, serif;
        font-size: 20px} 
#slideshowimage {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h2.plus {
    background: url(images/plus.png) no-repeat left center;
    background-position: 5%;
}
h2.minus {
    background: url(images/minus.png) no-repeat left center;
    background-position: 5%;
}
div.closed {display: none;}
div.open {display: block;}

#gallery {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;}

#faqs h5.plus {
	background: url(../images/plus.png) no-repeat left center;
}
#faqs h5.minus {
	background: url(../images/minus.png) no-repeat left center;
    background-size: 30px 30px;
}


li {
    padding-right: 10px;
    display: inline;
    
}

